* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #16143a;
    overflow-x: hidden;
}

#head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #201E43;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.links a, button {
    margin-left: 35px;
    color: #f0f8ff;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    transition: .05s;
    font-family: "Poppins";
}

.links button {
    background: none;
    border: none;
}

.links a:hover,
.links button:hover,
.links a.active {
    color: #508C9B;
    cursor: pointer;
}

.main {
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.home {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-content {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.home-content h3 {
    font-family: "Poppins";
    color: #508C9B;
    font-size: 28px;
    width: 100%;
}

#silent_text ._inside {
    font-size: 56px;
    font-weight: 700;
    font-family: "Poppins";
    position: relative;
    color: white;
}

#silent_text ._inside:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #16143a;
    border-left: 2px solid #508C9B;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.logo {
    width: 100%;
    max-width: 300px;
    z-index: 100;
    transform: scale(1);
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

@media only screen and (min-width: 1300px) {
    .home {
        flex-direction: row;
    }
    .home-content {
        width: 50%;
        text-align: left;
    }
    .logo-container {
        width: 50%;
        justify-content: flex-end;
        padding-top: 0;
    }
    .logo {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1299px) {
    body {
        overflow-x: hidden;
    }
    .home {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 100px; 
    }
    .home-content {
        width: 90%;
        max-width: 600px;
        text-align: center;
    }
    .logo-container {
        width: 100%;
        padding-top: 20px;
    }
    .logo {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    .links {
        display: none;
    }
    #head {
        justify-content: center;
    }
}
